:root {
    --clr-primary:  hsl(25, 97%, 53%);
    --neutral-100: hsl(0, 0%, 100%);
    --neutral-200: hsl(217, 12%, 63%);
    --neutral-300: hsl(216, 12%, 54%);
    --neutral-blue-800: hsl(213, 19%, 18%);
    --neutral-blue-900: hsl(216, 12%, 8%);

    --fs-primary: 15px;
}

img {
    max-width: 100%;
    display: block; 
}

body {
    background-color: var(--neutral-blue-900);
    color: var(--neutral-200);
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: var(--fs-primary);
    margin: 0; 
    display: grid;
    place-items: center;
    min-height: 100vh;
    line-height: 1.3;
 
}

strong, h1, h2, h3, h4 {
    font-weight: 700; 
    color: var(--neutral-100);
    line-height: 1;
    margin-top: 1em;
    margin-bottom: 0; 
    padding-bottom: 0; 
}

.card {
    background-image: linear-gradient( hsl(213, 19%, 19%) , var(--neutral-blue-800));
    border-radius: 20px;
    padding: 2rem; 
    width: 360px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding: 1.25rem 0;
}

button {
    color: var(--neutral-100);
    padding: 1em 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: var(--clr-primary);
    border-radius: 100vw;
    width: 100%; 
    font-family: inherit;
    font-size: inherit;
    margin-top: .5rem; 
    transition: 250ms ease-in-out;
    border: none;
   cursor: pointer;
}

button:hover {
    background-color: var(--neutral-100);
    color: var(--clr-primary)
}

.number {
    background-color: hsla(211, 20%, 25%, 0.722);
    border-radius: 50%;
    width: 2rem;
    aspect-ratio: 1;
    padding: 0 .75em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 250ms ease-in-out;
   cursor: pointer;
}

.number p {
    font-size: 1.125em;
}

.number:has(img) {
    padding: .5em;
}

.number:has(p):hover {
    background-color: var(--clr-primary);
    color: var(--neutral-100);
}

.hidden {
    display: none; 
}

.thank-you-state {
    text-align: center;
}

.thank-you-state h1 {
    margin-bottom: 1em;
}

.selected-rating {
    background-color: hsla(211, 20%, 25%, 0.722);
    border-radius: 100vw;
    padding: .25em .5em;
    color: var(--clr-primary);

}